<h1>Split a bill based on an equal income percentage.</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-primary" role="alert">
      You can specify any pay period you wish (monthly/yearly), but all values must be for the same period. For example, if the bill you're splitting is the monthly amount, enter your monthly income.
    </div>
    <form name="split">
      <p>Person #1's income:
        <input type="text" name="income1"></p>
      <p>Person #2's income:
        <input type="text" name="income2"></p>
      <p>Amount to split:
        <input type="text" name="split"></p>
      <p><input type="submit" value="Split that bill!" onclick="split();return false" class="btn btn-primary"></p>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <% if params[:income1].to_f > 0 and params[:income2].to_f > 0 and params[:split].to_f > 0 %>
  <% t=params[:income1].to_f+params[:income2].to_f %>
      <% p1=params[:income1].to_f/t*params[:split].to_f %>
      <% p2=params[:income2].to_f/t*params[:split].to_f %>
      <div class="container">
        <%= p "Person #1 pays \n"+p1.round(2).to_s+" ("+(p1.to_f/params[:income1].to_f*100).round(2).to_s+"%)" %>
        <div>
          <%= p "Person #2 pays "+p2.round(2).to_s+" ("+(p2.to_f/params[:income2].to_f*100).round(2).to_s+"%)" %>
        </div>
      </div>
  <% else %>
    <%= p "Enter only numbers." %>
      <% end %>
</div>
</div>