<div id="<%= dom_id job %>">
  <p>
    <strong>X:</strong>
    <%= job.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= job.y %>
  </p>

  <p>
    <strong>A:</strong>
    <%= job.a %>
  </p>

</div>
